.productList
  = link_to product_path(redies_category) do
    %figure.productList--img
      =image_tag url_for(redies_category.images[0])
    .productList--body
      %h3.name
        =redies_category.name
      .details
        %ul
          %li
            =redies_category.price
            円
          %li
            = fa_icon "heart", class: "likeIcon", text: "#{redies_category.user_id}"
        %p (税込)