<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
    <script type="text/javascript">Payjp.setPublicKey('pk_test_889609e6c174148a15712a30');</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
